.container{
    margin: 50px 0;
}
.light{
    color: #000 !important;
    background-color: #fff !important;
}
.dark{
    color: #fff !important;
    background-color: #121212 !important;
    border: 1px solid rgba(150, 148, 148, 0.637) !important;
    
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5) !important;
}
.recoveries{
    border-bottom: 10px solid rgba(0,255,0,0.5) !important;
}
.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5) !important;
}

@media (max-width: 770px){
    .card{
        margin: 4% 0 !important;
    }
}